{{#with spot}}
<div class="cardContent">
  <div>
    <div>
      <h2 class=" spotName">{{this.name}}</h2>
      <div class="tagsCard">
        <h4 class="spotType">{{this.type}}</h4>
        <h4 class="spotSeabed">{{this.seabed}}</h4>
      </div>
    </div>
    <div class="locationCard">
      <h5 class="spotRegion">{{this.location.region}}</h5>
      ,
      <h5 class="spotCountry">{{this.location.country}}</h5>
    </div>
  </div>
  <div class="divider"></div>
</div>
{{/with}}